body {
background: rgb(255,255,255);
background-image: url("/creditsbackground.png");
background-size: cover;
color: white;
max-width: 100%;
font-family: 's3k';
text-align: center;
}
img {
  border-radius:27%;
}
@font-face {
    font-family: s3k;
    src: url("/s3k-titlecards.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}