body {
background: black;
background-size: cover;
color: white;
max-width: 100%;
font-family: 's3k';
text-align: center;
}
@font-face {
    font-family: s3k;
    src: url("/s3k-titlecards.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}