body {
background: rgb(255,255,255);
background-image: url("files/background.png");
background-size: cover;
color: rgb(200,0,0);
max-width: 100%;
overflow-x: hidden;
font-family: 'mania';
text-align: center-left;
text-shadow: 2px 2px 0px rgb(255,255,255);
}
p{
  letter-spacing: 0px;
}
img {
  border-radius:27%;
}
footer {
  font-family: 'Mania';
  display: block;
  text-align: center;
  padding: 9px;
  color: black;
}
@font-face {
    font-family: Mania;
    src: url("files/s1hud.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}