body {
background: rgb(255,255,255);
background-image: url("/mainbackground.gif");
background-size: cover;
color: rgb(149,0,255);
max-width: 100%;
overflow-x: hidden;
font-family: 'sm';
text-align: center-left;
text-shadow: 2px 2px 0px rgb(168,130,226);
}
img {
  border-radius:27%;
}
footer {
  font-family: 'sm';
  display: block;
  text-align: center;
  padding: 9px;
  color: black;
}
@font-face {
    font-family: sm;
    src: url("/SM.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}